

<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some website </title>
  </head>
  <body>

  {{> header}}
    <h1>Heyo we will be right back after this short update</h1>
    <p> the site sucks and needs some help please wait while we get a new web app developer</p>

    {{> footer}}
  </body>

</html>
